<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/common.css" />
  </head>
  <body>
    <header>
      <label>Admin Panel</label>
      <div>
        <p>Please Log In</p>
      </div>
    </header>
    <div class="result-box"></div>
    <div class="modal-window">
      <div>
        <form id="login-form">
          <label> Username </label><input type="text" name="username" />
          <label> Password </label><input type="password" name="password" />
          <button type="submit" class="confirm">Log In</button>
        </form>
      </div>
    </div>
    <script src="/admin.js"></script>
  </body>
</html>
