/* Log in button */

.confirm {
  background-color: rgba(89, 202, 89, 0.801);
  color: rgba(14, 13, 13, 0.822);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.411);
  padding: 10px 0px 10px 0px;
  font-size: large;
  width: 40%;
}

.confirm:hover {
  background-color: rgba(76, 173, 76, 0.801);
}

/* Auth form */

.modal-window {
  display: flex;
  justify-content: center;
}

.modal-window div {
  margin-top: 80px;
  padding: 30px 0px 30px 0px;
  background-color: rgb(199, 199, 199);
  border-radius: 10px;
  width: 40%;
}

.modal-window form {
  font-size: large;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label,
input,
button {
  margin-top: 10px;
}

form input {
  font-size: large;
  border: 0;
  background-color: rgb(224, 224, 224);
  padding-top: 10px;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .modal-window div {
    width: 95% !important;
  }
}

@media (max-height: 500px) {
  .modal-window div {
    margin-top: 40px;
  }
}
